body{
    font-size: 18px;
    line-height: 1.2;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;   
    text-align: center;
}

.represent{
     display: flex;
     flex-direction: row; 
     justify-content:center; 
     align-items: center;
}

.photo{
    border:2px solid orange;
	border-radius: 100px;
	margin-right: 50px;
}

.text{
	font-size: 20px;
	line-height: 1.4;
}

.experience{
    margin-left: 100px;	
	text-align: left;
	
}

@media (max-width: 768px) { 

 .represent{
    flex-direction:column;
      }
      
.experience{
    margin-left: 0px;
    width: 90vw;
}

.photo{    
    margin-right: 0;
}

 }